@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono');

.caret {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

.sentence {
    color: white;
    font-family: 'Sometype Mono', sans-serif;
    font-size: 42px;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }